# Airflow settings
AIRFLOW_UID=50000

# Project paths
CSV_PATH=test
PYTHON_SCRIPTS_PATH=test
DBT_MODELS_PATH=test
DBT_PROFILES_PATH=test

# GCP settings
BQ_PROJECT=test
BQ_DATASET=test
BQ_STG_TABLE=test
BQ_DM_TABLE=test